<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-positive">
<!-- signup tab -->
<ion-tab title="Registrati" icon-off="ion-person-stalker" icon-on="ion-person-add" href="#/auth/signup">
    <ion-nav-view name="auth-signup"></ion-nav-view>
  </ion-tab>



  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>


<!-- wod tab -->
<ion-tab title="Wod" icon-off="ion-android-list" icon-on="ion-android-list" href="#/workout/wod">
    <ion-nav-view name="wod"></ion-nav-view>
  </ion-tab>
  
  
<!-- wodt tab -->
<ion-tab title="Wot" icon-off="ion-ios-list" icon-on="ion-ios-list" href="#/workout/wot">
    <ion-nav-view name="wot"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
