<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script src="lib/ionic/js/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/services/User.js"></script>
    <script src="js/services/Activities.js"></script>
    <script src="js/services/Utilities.js"></script>
    <script src="js/services/StateMonitor.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/controllers/SignupCtrl.js"></script>
    <script src="js/controllers/SigninCtrl.js"></script>
    <script src="js/controllers/wodCtrl.js"></script>
    <script src="js/controllers/wotCtrl.js"></script>
  </head>
  <body ng-app="StudyWod">
  
  
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
	<ion-side-menus>
	<ion-side-menu-content ng-controller="NavCtrl">
    <ion-nav-bar class="bar-positive">
          
            

            <ion-nav-buttons side="right">
			<div ng-show="showPlus">
				<button class="button button-icon button-clear ion-plus-round" ng-click="newTask()"></button>
			
			</div>
			
              <button class="button button-icon button-clear ion-navicon" ng-click="showRightMenu()">
              </button>
            </ion-nav-buttons>
			
      </div>
			
			<ion-nav-buttons side="left">
              <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="showMenu()">
              </button>
			  <ion-item class="item item-avatar" >
			  <img ng-src="{{effige}}" style="border-radius:50%;">
			  </ion-item>
            <!-- </ion-nav-buttons>
			<ion-nav-buttons side="right" ng-show={{isUserLogged()}}">
			<ion-item class =" item-avatar"> <img src={{gravatar}} alt="notLogged" />
			</ion-item>
			</ion-nav-buttons> -->
          </ion-nav-bar>
		  <ion-nav-view animation="slide-left-right"></ion-nav-view>
		  
    <ion-nav-view></ion-nav-view>
        </ion-side-menu-content> 

    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
	<ion-side-menu side="left">
          <ion-header-bar class="bar bar-header bar-calm">
            <h1 class="title">User Menu</h1>
          </ion-header-bar>
          <ion-content has-header="true">
            <ul class="list">
              <li>
                <a class="item" menu-close nav-clear href="#/auth/signin">SignIn</a>
              </li>
              <li>
                <a class="item" menu-close href="#/auth/signup">SignUp</a>
              </li>
              <li>
                <a class="item" menu-close href="#/tab/facts2">Profile</a>
              </li>
            </ul>
          </ion-content>
        </ion-side-menu>
		<ion-side-menu side="right">
          <ion-header-bar class="bar bar-header bar-royal">
            <h1 class="title">Right Menu</h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
              <li>
                <a class="item" menu-close nav-clear href="#/workout/wod">coming soon</a>
              </li>
              <li>
                <a class="item" menu-close nav-clear href="#/workout/wot">coming soon</a>
              </li>
            </ul>
          </ion-content>
        </ion-side-menu>
	</ion-side-menus>
	
  </body>
</html>
